*{
    margin:0;
    padding: 0;
}

.mainGrid{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(50px,auto);
    max-width: 960px;
    margin: auto;
    gap: 20px;
    color: lawngreen;
    background-color: lightcoral;
    grid-template-areas:
    "a10 a10 a10 a10"
    "a11 a12 a12 a12"
    "a13 a13 a14 a14";
  
}

.a10{
    grid-area: a10;
    background-color:rgb(57, 77, 100);
}

.a11{
    grid-area: a11;
    background-color: royalblue;
}

.a12{
    grid-area: a12;
    background-color: rgb(77, 139, 108);
}

.a13{
    grid-area: a13;
    background-color: blue;
}

.a14{
    grid-area: a14;
    background-color: rgb(50, 143, 205);
}

.header{
    margin: auto;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: honeydew;
    text-justify: auto;
    padding: 10px;

}

label{
    color:white;
    padding-left: 1rem;
    padding-top: 1rem;
    
}

input{
    color: blue;
    font-weight: bold;
    width: 200px;
    margin: 1rem;
}

button{
    width: 200px;
    margin: 1rem;
    height: 40px;
}