<div class="mainGrid">
  
  <div class="a0">
    <h1 class="header">Epic Property Managment</h1> 
  </div>
  

  <div class="a1">
    Navigation
  </div>

  <div class="a2" [hidden]="!showTable">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Apartment Number</th>
          <th scope="col">Bed</th>
          <th scope="col">Bath</th>
          <th scope="col">Sqf</th>
          <th scope="col">Rent</th>
          <th scope="col">Assign Tenent</th>
          <th scope="col">Discharge Tenent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartment of (apartments | async)">
          <td>{{apartment.apartmentNumber}}</td>
          <td>{{apartment.bed}}</td>
          <td>{{apartment.bath}}</td>
          <td>{{apartment.sqf}}</td>
          <td>{{apartment.rent}}</td>
          <td><button class="btn-success" (click)="Assign(apartment.apartmentNumber)">Assign</button></td>
          <td><button class="btn-danger">Discharge</button></td>
        </tr>
      </tbody>
    </table>
   
   
  </div>

  
   <app-tenent [apartmentNumber]="getthis()" apart [hidden]="!showAssignTenent" class="a2"></app-tenent>
  

  <div class="a3">
    notifications
  </div>

  <div class="a4">
    footer
  </div>

  <div class="a1">
    <button class="b1 btn-success" type="button" (click)="getOneBeds()">1 Beds</button>
    <button class="b1 btn-success" type="button" (click)="getTwoBeds()">2 Beds</button>
    <button class="b1 btn-success" type="button" (click)="getThreeBeds()">3 Beds</button>
    
  </div>

 

</div>

  

  



