<div class="mainGrid">
  
  <div class="a0">
    <h1 class="header">Epic Property Managment</h1> 
  </div>
  

  <div class="a1">
    Navigation
  </div>

  <div class="a2" [hidden]="!showApartmentsList">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Apartment #</th>
          <th scope="col">Tenent</th>
          <th scope="col">Bed</th>
          <th scope="col">Bath</th>
          <th scope="col">Sqf</th>
          <th scope="col">Rent</th>
          <th scope="col">Assign Tenent</th>
          <th scope="col">Discharge Tenent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartment of (apartments | async)">
          <td>{{apartment.apartmentNumber}}</td>
          <td>{{apartment.bed}}</td>
          <td>{{apartment.bath}}</td>
          <td>{{apartment.sqf}}</td>
          <td>{{apartment.rent}}</td>
          <td><button class="btn-success" (click)="Assign(apartment.apartmentNumber)">Assign</button></td>
          <td><button class="btn-danger">Discharge</button></td>
        </tr>
      </tbody>
    </table>
   
  </div>

  <div class="a2" [hidden]="!showTenentList">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Rent</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tenent of (tenents | async)">
          <td>{{tenent.firstName}}</td>
          <td>{{tenent.lastName}}</td>
          <td>{{tenent.rent}}</td>
          <td>{{tenent.startDate | date: 'shortDate'}}</td>
          <td>{{tenent.endDate | date: 'shortDate'}}</td>
          
          
        </tr>
      </tbody>
    </table>
   
  </div>

  
   <app-tenent [apartmentNumber]="getthis()" [hidden]="!showAssignTenent" class="a2"></app-tenent>

   <app-tenent-list apart [hidden]="!showAssignTenent"></app-tenent-list>

  

  <div class="a3">
    notifications
  </div>

  <div class="a4">
    footer
  </div>

  <div class="a1">
    <button class="b1 btn-success" type="button" (click)="getOneBeds()">1 Beds</button>
    <button class="b1 btn-success" type="button" (click)="getTwoBeds()">2 Beds</button>
    <button class="b1 btn-success" type="button" (click)="getThreeBeds()">3 Beds</button>
    <button class="b1 btn-info" type="button" (click)="getTenents()">Tenents</button>
    
  </div>

 

</div>

  

  



