<div class="mainGrid">
  
  <div class="a0">
    <h1 class="header">Epic Property Managment</h1> 
  </div>
  

  <div class="a1">
    Navigation
  </div>

  <div class="a2">
    <table>
      <tr *ngFor="let apartment of (apartments | async)">
        <td>{{apartment.id}}</td>
        <td>{{apartment.apartmentNumber}}</td>
        <td>{{apartment.sqf}}</td>
        <td>{{apartment.rent}}</td>
      </tr>
    </table>
   
  </div>

  <div class="a3">
    notifications
  </div>

  <div class="a4">
    footer
  </div>

  <div class="a1">
    <button class="b1 btn-success" type="button" (click)="dothis()">1 Beds</button>
    <button class="b1 btn-success" type="button">2 Beds</button>
    <button class="b1 btn-success" type="button">3 Beds</button>
    
  </div>

 

</div>

  

  



